{% set direct_pages = [] %}
{% set _ = direct_pages.append({'title': 'Categories', 'url': 'categories.html'}) %}
{% for tmpl in DIRECT_TEMPLATES %}
  {% if tmpl not in ('index', 'categories') %}
    {# not the best option, because there is no way to get the variable in the
     # name of `tmpl|upper ~ '_SAVE_AS'` but this would have to do #}
    {% set _ = direct_pages.append({'title': tmpl|title, 'url': tmpl ~ '.html'}) %}
  {% endif %}
{% endfor %}

<nav itemscope itemtype='https://schema.org/SiteNavigationElement'>

  {% for p in (pages if DISPLAY_PAGES_ON_MENU else []) + direct_pages %}
  <div class='container'>
    <div class='handle'><a itemprop='url' href='{{ SITEURL }}/{{ p.url }}' {% if p == page or p.title|lower == page_name %}class='active'{% endif %}>{{ p.title }}</a></div>
  </div>
  {% endfor %}
</nav>
