@font-face
{
  font-family: roboto;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

body
{
  font-family: roboto;
  font-size: 24px;
  color: #d2d2d2;

  background-color: #1a1a1a;
}

/*********/
/* fonts */
/*********/

dt,
th,
div.figure p.caption,
p.admonition-title,
#header header > h1,
#header nav,
#content-title,
#paginator,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6
{
  font-family: roboto;
}

tt,
kbd,
pre,
nav > div.container,
span.category,
span.tag
{
  font-family: roboto;
}

ul,
ol,
dl,
body > footer > address.attribution,
article > header > p.author-cat-tag
{
  line-height: 1.5em;
}

/**************/
/* font sizes */
/**************/

article h1
{
  font-size: 32px;
}

article h2
{
  font-size: 28px;
}

article h3
{
  font-size: 26px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6
{
  padding-top: 16px;
}

/*****/
/* a */
/*****/

a
{
  color: #058ED9;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a:visited
{
  color: #04669a;
}

kbd
{
  padding: 0.125ex 0.25ex 0 0.325ex;
  border: 1px solid #D67113;

  border-radius: 0.5ex;
}

blockquote
{
  margin-left: 2ex;
  padding-left: 1ex;
  border-left: 1ex solid #F0923B;
}

pre
{
  overflow: auto;
}


dd
{
  margin-top: 1em;
  margin-bottom: 1em;
}

/*********/
/* table */
/*********/

table
{
  border-collapse: collapse;
  margin: auto;
}

th,
td
{
  border: 1px solid #d2d2d2;
  padding: 5px;
}

th
{
  font-weight: normal;
}

td
{
}

/*********************/
/* rst linenos table */
/*********************/

td.linenos,
td.code
{
  padding: 0;
  background-color: transparent;
}

td.linenos > div.linenodiv > pre,
td.code > div > pre
{
  margin: 0 auto;
}

td.linenos
{
  padding-right: 1ex;
}

/******************/
/* figure / image */
/******************/

div.figure
{
  text-align: center;
}

div.figure p.caption
{
  margin: 0.5em auto;
}

/*************************/
/* footnotes & citations */
/*************************/

table.footnote,
table.citation
{
  margin-top: 1em;
  padding-top: 1em;
  border-top: 0.2em dotted #FFC38B;
}

table.footnote + table.footnote,
table.citation + table.citation
{
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

table.footnote th,
table.footnote td,
table.citation th,
table.citation td
{
  background-color: transparent;
}

table.footnote td > p.first,
table.citation td > p.first
{
  margin-top: 0;
}

table.footnote td > p.last,
table.citation td > p.last
{
  margin-bottom: 0;
}

/***************/
/* admonitions */
/***************/
/* http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions */

div.attention,
div.caution,
div.danger,
div.error,
div.hint,
div.important,
div.note,
div.tip,
div.warning
{
  margin: 1em auto 1em auto;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  border-bottom: 0.25ex dashed #FFC38B;
  border-left: 0.25ex dashed #FFC38B;
}

p.admonition-title
{
  margin: 0;
}

div.attention > p.first + p,
div.caution > p.first + p,
div.danger > p.first + p,
div.error > p.first + p,
div.hint > p.first + p,
div.important > p.first + p,
div.note > p.first + p,
div.tip > p.first + p,
div.warning > p.first + p
{
  margin-top: 0;
}

div.attention > p.last,
div.caution > p.last,
div.danger > p.last,
div.error > p.last,
div.hint > p.last,
div.important > p.last,
div.note > p.last,
div.tip > p.last,
div.warning > p.last
{
  margin-bottom: 0;
}

/***************/
/* blog header */
/***************/

#header,
body > main,
#paginator,
body > footer
{
  margin: 0 auto;
  width: 1024px;
}

#header,
#header > div.handle
{
  position: relative;
}

#header > div.handle > span.dots
{
  border-top: 1rem dotted #F0923B;
  position: absolute;
  top: calc(-1.75rem);
  left: calc((100% - 8rem) / 2);
  width: 9rem;
  height: 2rem;
  text-align: center;
}

#header > div.content
{

}

#header header
{
  text-align: left;
}

#header header,
#header header > h1 > a,
#header header > h1 > a:hover,
#header header > h1 > a:visited
{
  /*color: #D67113;*/
}

#header header > h1
{
  margin-top: 2rem;
  margin-bottom: 15px;
}

#header header > h1 > a:hover
{
  /*color: #A85206;*/
  text-decoration: none;
}

#publisher-description
{
  margin: 0;
  color: #A85206;
}

#header header > h1 > a
{
  color: #ab5bd2;
}

#header {
  padding-bottom: 40px;
}

/***************/
/* blog footer */
/***************/

body > footer
{
  margin-top: 1em;
}

/*******************/
/* blog navigation */
/*******************/

#header nav
{
  padding: 0 0 1em 0;
  position: relative;
  height: calc(1em - 0.5ex);
}

#header nav > div.container
{
  display: inline-block;
  vertical-align: top;
}

#header nav > div.container > div.content
{
  display: none;
}

#header nav > div.container:hover > div.content
{
  padding: 0.5ex;
  border: 1px solid #D67113;
  display: inline-block;
  position: absolute;
  background-color: #FFC38B;

  border-radius: 0.5ex;
}

#header nav > div.container
{
  font-weight: bold;
}

#header nav > div.container > div.handle,
#header nav > div.container > div.handle > a
{
  color: #d2d2d2;
}

#header nav > div.container > div.handle
{
  margin-left: 0.5ch;
  padding: 0.5ex 0.5ch;
}

#header nav > div.container > div.content a.active
{
  color: #9932cc;
}

/********/
/* main */
/********/

#content-title
{
}

#content-title,
article:first-child,
article > header > h2
{
  margin-top: 1.25rem;
}

/**************/
/* paginatior */
/**************/

#paginator
{
  text-align: center;
}

#paginator span
{
  margin: 0 0.5ch;
}

/***************/
/* blog footer */
/***************/

body > footer
{
  text-align: center;
}

body > footer > address
{
}

/***********/
/* article */
/***********/

article
{
  margin: 1em auto;
}

article > header
{
  position: relative;
  text-align: center;
}

/****************/
/* translations */
/****************/

article > header > div.translations
{
  position: absolute;
  right: 0;
}

/******************************************/
/* type link styles:                      */
/* translation, author, category, and tag */
/******************************************/

span.translation::before
{
  content: "[";
}

span.translation::after
{
  content: "]";
}

span.author span.name::before
{
  content: "@";
}

span.category::before
{
  content: "{";
}

span.category::after
{
  content: "\7D";
}

span.tag::before
{
  content: "#";
}

span.author:hover::before,
span.category:hover::after,
span.category:hover::before,
span.tag:hover::before,
span.translation:hover::after,
span.translation:hover::before
{
  color: #ab5bd2;
}

span.author > a:hover,
span.category > a:hover,
span.tag > a:hover,
span.translation > a:hover
{
  text-decoration: none;
}

/*******************/
/* article entry   */
/*******************/
span.author > span.name > a
{
 color: #ab5bd2;
}

span.category > a, span.tag > a, header > h2 > a
{
  color: #d2d2d2 !important;
}

/*******************/
/* code highlight  */
/*******************/
div.highlight
{
  border: 1px solid rgba(210, 210, 210, 0.07);
  background-color: rgba(210, 210, 210, 0.05);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

div.highlight > span
{
  font-family: monospace;
}

/*******************/
/* article summary */
/*******************/

article.summary > img.thumbnail
{
  padding: 0 0 2ex 2ex;
  float: right;
}

article.summary > header
{
  text-align: left;
}

article.summary > header > h2,
article.summary > header > p
{
  margin: 0.5em auto;
}

article > div.summary
{
  position: relative;  /* for fading out to work */
}

article > div.summary > p
{
  margin-top: 0;
  max-height: calc(5 * 1.25em + 1em);  /* 5 lines */
  overflow: hidden;
}

article > div.summary > p::after
{
  position: absolute;
  right: 0;
  bottom: 0;  /* match margin-bottom */
  width: 100%;
  height: 100%;  /* match line-height */
  content: "";
  background: transparent
              linear-gradient(
                to bottom,
                rgb(26, 26, 26, 0.0) 0%,
                rgb(26, 26, 26, 0.1) 40%,
                rgb(26, 26, 26, 1.0) 100%
              );
  text-align: right;
}

article > div.summary > span.readmore
{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;  /* above div.summary > p */
}

article > div.summary > span.readmore > a
{
  color: #ab5bd2;
}

/*****************/
/* blog archives */
/*****************/

#period-archives ul.days
{
  padding-left: 0;
  list-style: none;
}

/*************/
/* responsive /
/*************/

@media not screen and (min-width: 1043px)
{
  body
  {
    font-size: 20px;
  }

  #header,
  body > main,
  #paginator,
  body > footer
  {
    margin-right: 10px;
    margin-left: 10px;
    width: calc(100% - 2 * 10px);
  }

  img
  {
    max-width: 100%;
  }
}
